#my-portrait {
    float: right;
    width: 500px;
}
#homepage-title {
  font-size: 4em;
  font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif; 
}
#labs-section {
  font-size: 2em;
  font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;
}
